/* Journey to the Center of the Earth Practicum */
/*Zakaria Dandoune*/
body{
    background-color: #765729;
    background-attachment: fixed;
    margin: 0;
}

 header, nav, main, aside, footer{
     margin: .25rem;
     background-color: rgba(255, 255,255,.75);
     box-shadow: 10px 10px 10px rgba(0, 0, 0,.5) inset;
     border: 2px solid #886644;
     padding: 1.25em; 
 }

h1{
    background-image: url("/cave.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    border: 2px solid #886644;
    padding: 2rem;
}

    a{
        text-decoration: none;
        color: black;
    }


main{
    background-image:radial-gradient(antiquewhite,gray);
}

#cover{
    padding: 0.5rem;
    float: left;
    max-width: 90%;
    width: 200px;
    height: auto;
}

#cryptogram{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
#cryptogram figcaption{
    color: black;
    font-style: italic;
    padding: 1rem;
    text-align: center;
}

h2{
    font-size:2rem;
    border: none;
    border-bottom: 2px dotted black;
}

ul li span{
    font-weight: bold;
}

/*.character{
    float: left;
    clear: left;
}*/

main p span{
    font-style: italic;
}

main p span.character{
    font-weight: bold;
}

h2 div.opinion{
    border: black;
}